.navbar {
  width: 100vw;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.navbar a:hover {
  color: #348ceb;
}

.navbar .first_section {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

@media (max-width: 900px) {
  .navbar .first_section {
    margin-left: 15px;
  }
}

.navbar .first_section .logo {
  height: 32px;
  width: 145px;
}

.navbar .first_section .link-set-1 {
  display: flex;
}

@media (max-width: 768px) {
  .navbar .first_section .link-set-1 {
    display: none;
  }
}

.navbar .first_section .link-set-1 .one {
  margin-left: 25px;
}

.navbar .first_section .link-set-1 .two {
  margin-left: 40px;
}

.navbar .second_section {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

@media (max-width: 900px) {
  .navbar .second_section {
    margin-right: 24px;
  }
}

.navbar .second_section .three,
.navbar .second_section .four {
  margin-right: 40px;
}

@media (max-width: 400px) {
  .navbar .second_section .three,
  .navbar .second_section .four {
    display: none;
  }
}

.navbar .second_section .link-set-2 {
  display: flex;
  align-items: center;
}

.navbar .second_section .link-set-2 .button {
  box-sizing: border-box;
  height: 36px;
  width: 118px;
  border: 1px solid #f77d0e;
  background: linear-gradient(#fc8c14, #f77d0e);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 350px) {
  .navbar .second_section .link-set-2 .button {
    display: none;
  }
}

.navbar .second_section .link-set-2 .button a {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
}

.project_header {
  width: 100vw;
  height: 116px;
  background-color: #0069c7;
  color: white;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 700px) {
  .project_header {
    flex-direction: column;
  }
}

.project_header .flex-item {
  margin: auto;
}

@media (max-width: 550px) {
  .project_header .two {
    font-size: 20px;
  }
}

.project {
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  padding-top: 40px;
  font-family: Roboto;
}

.project .project_info {
  width: 90%;
  margin: auto;
  background-color: white;
}

.project .project_info .container {
  padding: 24px;
}

.project .project_info .container .details {
  padding-top: 16px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 22.4px;
}

.project .project_info .container .skills {
  font-size: 14px;
  letter-spacing: 0.1em;
}

.project .project_info .container .skills .bold {
  font-weight: 700;
}

.project .project_info .container .skills a {
  color: #007fee;
  text-decoration: none;
}

.project .project_info .container .skills a:hover {
  text-decoration: underline;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 4px 0px, rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
}

