.paginator-Container {
    display: flex;
}

.paginator-button {
    box-sizing: border-box;
    padding: 8px 16px;
    border: 1px solid #bec0c2;
    border-right: none;
    background: #f9f9f9;
    color: #0e1724;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.paginator-button:hover {
    background: #f0f0f0;
}

.last {
    border-right: 1px solid #bec0c2;
}

