.SkillsSearchField {
    width: 90%;
    font-size: 15px;
    border: none!important;
}

.SkillsContainer {
    border:1px solid #bec0c2;
    overflow: hidden;
}

.SkillsContainer:hover {
    border: 1px solid #2ea1ee;
}

.SelectedSkills {
    width: 95%;
    margin: 0 auto;
}

.SkillsSearchResults {
    z-index: 1;
    border: 1px solid #2ea1ee;
    border-top: none;
    max-height: 124px;
    cursor: pointer;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.SkillsSearchResults::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.SelectedSkill {
    margin: 2px 10px;
    border: 1px solid #bec0c2;
    padding: 2px;
    font-size: 15px;
}

.SelectedSkill:hover {
    border: 1px solid #2ea1ee;
}

.SelectedSkillClose {
    cursor: pointer;
}



.SearchResult {
    display: block;
    border-bottom: 1px solid #bec0c2;
    padding-left: 5px;
    font-size: 15px;    
}

.SearchResult:hover {
    background: #f0f0f0;
}

.error {
    font-size: 15px;
    margin-left: 5px;
}