.Wrapper {
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: -2;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
}



.Background {
    background: linear-gradient(to right, #1b61c0, #0967c6 50%,#0278e2 90%, #0279e3);
    width: 100vw;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.Logo {
    width: 169px;
    height: 47px;
    margin-bottom: 30px;
}

.Container {
    width: 790px;
    margin: 0px auto;
}

/* .Container {
    width: 58.6%;
    margin: 0px auto;
} */

@media only screen and (max-width: 790px) {
    .Container {
        width: 100%;
    }

    .Container .Top {
        margin-left: 10px;
    }
    .Top p {
        font-size: 14px;
    }
}

.Container .Top {
    color: white;
}

.Container h1 {
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0px 10px 0px;
}

.Top {
    margin: 55px 0px 25px 0px;
}

.Form {
    width: 100%;
    margin: 0px auto;
    background-color: white;
    border: 1px solid rgb(222, 222, 222);
    border-bottom: none;
    border-radius: 4px;
    margin-bottom: 100px;
}

.FormWrapper {
    margin: 35px;
    position: relative;
}

.Form input {
    width: 98%;
    padding: 10px 0px 15px 20px;
    border: 1px solid #bec0c2;
    margin-bottom: 5px;
}

.Form .Input {
    margin-bottom: 35px
}

.Form input:focus {
    border: 1px solid #2ea1ee;
}

.Form input:hover {
    border: 1px solid #2ea1ee;
}

.Form h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.Form p {
    font-size: 15px;
}

.Form textarea {
    width: 98%;
    resize: vertical;
    overflow: hidden;
    border: 1px solid #bec0c2;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.Form textarea:focus {
    border: 1px solid #2ea1ee;
}

.Form textarea:hover {
    border: 1px solid #2ea1ee;
}

.Form textarea::placeholder {
    font-size: 14px;
}

.PostMyProjectButton {
    float: right;
    margin-right: -10px;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    background: linear-gradient(to right, #f8800f, #f8810f);
    border: 1px solid #f69f61;
    margin-top: 25px;
}

.PostMyProjectButton:hover {
    background: #f27922;
}

.error {
    color: red;
    font-size: small;
}

.BorderError {
    border: 1px solid #eb3730!important;
}

